* {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}
/* .container {
    width: 1100px;
} */
.header {
  display: flex;
  justify-content: flex-end;
}
.menu {
  list-style-type: none;
  text-decoration: none;
  display: flex;
}
.menu-link {
  margin-right: 60px;
}
.menu-link-item {
  text-decoration: none;
  color: #000;
}
.about {
  width: 658px;
}
.about-me {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
}
.about-info {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
}
.about-img {
  width: 384px;
  height: 350px;
  float: right;
}
.useful {
  width: 658px;
  margin-top: 197px;
}
.useful-what {
  margin-bottom: 19px;
}
.useful-host {
  margin-bottom: 75px;
}
.name-tag {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
}
.h3-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
}
.text-info {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
}
.studied,
.work {
  width: 658px;
}
.studied-curses {
  margin-bottom: 75px;
}
.work-two {
  margin-bottom: 200px;
}
.video-one {
  width: 1142px;
  margin: 0 auto;
  display: block;
  text-align: center;
  margin-top: 47px;
}
.project-one {
  background-color: #dcdbdb;
  height: 918px;
  max-width: 1318px;
  margin-left: 58px;
  margin-bottom: 162px;
}
.project-one-link {
  list-style-type: none;
  text-decoration: none;
  color: #000;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  margin-left: 41px;
}
.project-one-task {
  width: 1054px;
  margin: 0;
  margin-bottom: 84px;
  margin-left: 52px;
}
.project-description {
  display: flex;
  justify-content: space-between;
}
.project-time {
  margin-right: 57px;
}
.project-task {
  margin-left: 36px;
}
.project-h1 {
  padding-bottom: 75px;
}
.project-name {
  margin: 0;
  margin-left: 36px;
  padding-top: 15px;
  padding-bottom: 19px;
}
.contacts {
  display: flex;
}
.contacts-me {
  width: 658px;
  margin-right: 40px;
}
.contact-link {
  display: flex;
  align-items: center;
}
.telegram {
  /* width: 330px; */
  margin-right: 93px;
  /* display: flex; */
  /* align-items: center; */
  /* flex-direction: column; */
}
.contact-whatsapp {
  float: left;
}
.contact-telegram-name {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;
  text-decoration: none;
  color: #000;
}
.whatsapp {
  display: flex;
  width: 100%;
}
.number {
  text-decoration: none;
  color: #000;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  margin-right: 10px;
}
.container-w {
  max-width: 1450px;
  margin: auto;
}
.hr-mb50 {
  margin-bottom: 50px;
}

@media (max-width: 1200px) {
  .container-w {
    width: 100%;
    margin: auto;
  }
  .video-one {
    width: 90%;
    margin: 0 auto;
    display: block;
    text-align: center;
    margin-top: 47px;
  }
  .project-one {
    width: 90%;
  }
  .project-one-task {
    width: 90%;
  }
  .project-two-look,
  .project-one-look,
  .project-three-look {
    width: 90%;
  }
  .project-description {
    width: 90%;
  }
  .contacts {
    width: 90%;
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  .about-me {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 34px;
  }
  .useful {
    margin-top: 150px;
  }
  .name-tag {
    font-size: 24px;
  }
  .project-one {
    height: 90%;
  }
  .menu-link-item {
    font-size: 12px;
  }
  .prj-1,
  .prj-2,
  .prj-3,
  .text-info,
  .about-info {
    font-size: 18px;
  }
  .project-one-link {
    font-size: 16px;
  }
  .project-task,
  .project-one-task,
  .project-time {
    font-size: 18px;
  }
  .project-one {
    margin-bottom: 120px;
  }
  .contact-telegram,
  .contact-whatsapp {
    width: 80px;
  }
  .telegram {
    width: 30%;
  }
  .number {
    font-size: 16px;
  }
  .contact-telegram-name {
    font-size: 24px;
  }
  .whatsapp {
    width: 150px;
  }
}

@media (max-width: 593px) {
  .container {
    width: 90%;
    margin: auto;
  }
  .about {
    width: 100%;
  }
  .about-img {
    width: 46%;
    height: 50%;
  }
  .about-me {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 34px;
  }
  .useful {
    margin-top: 100px;
    width: 100%;
  }
  .studied,
  .work,
  .contacts-me {
    width: 100%;
  }
  .name-tag {
    font-size: 24px;
  }
  .project-one {
    height: 90%;
  }
  .menu-link-item {
    font-size: 12px;
  }
  .h3-text {
    font-size: 20px;
  }
  .prj-1,
  .prj-2,
  .prj-3,
  .text-info,
  .about-info {
    font-size: 16px;
  }
  .project-one-link {
    font-size: 14px;
  }
  .project-task,
  .project-one-task,
  .project-time {
    font-size: 16px;
  }
  .project-one-task {
      margin-left: 25px;
  }
  .project-one {
    margin-bottom: 100px;
  }
  .work-two {
    margin-bottom: 100px;
  }
  .contact-telegram,
  .contact-whatsapp {
    width: 80px;
  }
  .contact-telegram {
      margin-top: 20px;
  }
  .telegram {
    width: 30%;
    margin-bottom: 20px;
  }
  .number {
    font-size: 16px;
    margin: 0;
  }
  .contact-telegram-name {
    font-size: 24px;
    display: block;
    margin-bottom: 15px;
  }
  .whatsapp {
    width: 230px;
    display: block;
  }
  .contact-link {
    flex-direction: column;
    align-items: baseline;
  }
  .contact-whatsapp {
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .whatsapp-img {
    margin-bottom: 15px;
  }
}
